
body{
    width:1600px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    border-color: #EEEEEE; 
    border-style: groove;
 }
 :root{
    --color:#212121;
 } 
 
 .nevidetion{
 font-family: Raleway;
 font-size: 26px;
 line-height: 0.8;
 text-decoration: none;
 padding-left: 200px;
 padding-right: 50px;
 color: var(--color);
 }
 .anline span{
 color: #2196F3;
 }
 .anline li{
 font-size: 14px;
 line-height: 0.9;
 padding: 15px 50px;
 display: inline;
 }
 .anline a{
 text-decoration: none;
 }
 .anline a:hover{
    color: #2196F3;
 }
 .nav-title{
     color: black;
 }
  
 .nav-tel, .nav-amail{
   color: #757575;
   text-decoration: none;
 }
 .anline{
 display: inline-block;
 }
 /* -------------main-----------------------/ */
 .main-sel li{
     display: inline;
     color: var(--color);
    
 }

 .main-sel button{
     border-style: none;
     border-radius: 4px;
     width: 160px;
     height: 50px; 
     margin-top: 64px; 
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.3px;  
     font-weight: bolder;
     text-shadow: #EEEEEE;
     
 }
 .main-sel button:hover{
     background-color: #2196F3;
     color: #FFFFFF;
 }
 .sente{
     text-align: center;
 }
 .boxsis h2, .boxsis p{
 max-width: 370px;
 }
 .boxsis h2{
 font-size: 18px;
 line-height: 0.8;
 letter-spacing: 0.6px;
 color:var(--color);
 margin-left: 15px;
 
 }
 .boxsis p{
 font-size: 16px;
 line-height: 0.8;
 letter-spacing: 0.3px;
 color: #757575;
 padding-left: 15px;
 }
 
 .boxsis{
     display: flex;
     gap: 30px;
     margin-top: 34px;
     margin-left: 150px;
     
 }
 .boxsis li{
 background-color:#FFFFFF;
 border-style:groove;
 border-width: 0.5px;
 border-color: #EEEEEE;
 }
 
/* /----------sectuon1------------// */

.main{
    background-color: #2F303A;
    max-height: 600px;
    text-align: center;
}
.title{
font-size: 44px;
line-height: 0.6;
color: #FFFFFF;
letter-spacing: 1px;
line-height: 1.16em;
padding-top: 200px;
text-transform: uppercase;
}
.button{
font-family: inherit;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.6px;
color: #FFFFFF;
background-color: #2196F3;
border-radius: 4px;
width: 167px;
height: 40px;
margin-bottom: 210px;
}
.button:hover{
    background-color: rgb(100, 122, 244);
}
/* ---------------section2---------- */
.lishka{
    width: 280px;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 100px;
}
.lishka p{
font-size: 15px;
line-height: 1.2;
letter-spacing: 0.3px;
font-weight: 400px;
color: #757575;
text-align: left;
padding-left: 30px;

}
.lishka h4{
font-size: 14px;
line-height: 0.9;
font-weight: 700px;
Letter-spacing: 0.3px;
text-align: left;
padding-left: 30px;
}
.boxs{
    text-align: center;
    gap: 30px;
}


/* ---------------section3---------------- */
.text-three{
font-size: 36px;
line-height: 1.2;
Letter-spacing: 0.3px;

}
.pikche{
    padding-left: 20px;
}
.plus{
    padding-top: 50px;
}

.boxs-cale{
    background-color: #F5F4FA;
    margin-top: 50px;
}
.section-boxs-cale{
   background-color:#FFFFFF;
   border-style: ridge;
   border-color:  #EEEEEE;
  border-width: 1px 4px 6px 1px ;
  margin: 30px 10px 90px 10px;
}
.paragraf{
    font-size: 16px;
    line-height: 0.8;
    letter-spacing:  0.3px;
   color: #757575;
}
.anline p{
    font-weight: 500;
}


/* ----------footer------------------------------////// */
.blok-footer{
    background-color: #2F303A;
    margin-top: 94px;
    padding-top: 60px;
    padding-bottom: 60px;


}
.footer-logo{
    font-family: raleway;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.3px;
    color: #EEEEEE;
    text-decoration: none;
    padding-left: 200px;
}
.footer-adres{
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    padding-left: 200px;
    font-style: normal;
}

.cpan-footer{
color: #2196F3;

}
.footer-text{
font-size: 14px;
line-height: 24px;
letter-spacing: 0.3px;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
margin-left: 200px;
padding-top: 40px;
font-style: normal;
}
.footer-adres:hover{
    color: #2196F3;
}
.footer-text:hover{
    color: #2196F3;
}